

.navcontainer{
border: 1px solid red;
background: #E63946;
display: flex;
justify-content: center;
gap: 20%;
align-items: center;
height: 80px;

margin: 0;
}
.logo{
  
    font-size: 2rem;
    text-decoration: none;
color: whitesmoke;    
}
.navbar {
    display: flex;
 
    flex-grow: 0.5; /* Permite que la barra ocupe el espacio disponible */

    
  }
  
  .links {
    display: flex;
 justify-content: space-between;
    flex-grow: 1; /* Permite que la barra ocupe el espacio disponible */
    gap: 20px;
  }
  
  .link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
  }