.features{
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 5%;
}

.item{
width: 250px;
height: 70%;
display: grid;
grid-template-rows: 2fr 1fr;
justify-content: center;
align-items: center;
}
.icon{
height: 180px;
height: 180px;
display: flex;
justify-content: center;
align-items: center;
}

.image{
}

.text{
}